<!DOCTYPE html>
<html>
<head>
    <title>Text to ASL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Text to ASL</h2>

        <form action="{{ url_for('text_to_asl') }}" method="POST">
            <label for="message">Enter a message:</label>
            <input type="text" id="message" name="message" required>
            <button type="submit">Translate to ASL</button>
        </form>

        <a href="{{ url_for('home') }}">Back to Main</a>

        {% if image_files %}
        <div class="result">
            <h3>ASL Lists:</h3>
            <ul>
                {% for image_file in image_files %}
                <li>{{ image_file }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="image-box">
            {% for image_file in image_files %}
            <img src="{{ url_for('static', filename='images/'+image_file) }}" alt="Image">
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>
