<!DOCTYPE html>
<html>
<head>
    <title>Text to ASL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Text to ASL</h2>

        <form action="{{ url_for('text_to_asl') }}" method="POST">
            <label for="message">Enter a message:</label>
            <input type="text" id="message" name="message" required>
            <button type="submit">Translate to ASL</button>
        </form>

        <a href="{{ url_for('home') }}">Back to Main</a>

        {% if asl_lists %}
        <div class="image-box">
            {% for image in asl_lists %}
            <img src="{{ url_for('static', filename=image) }}" alt="{{ image }}">
            {% endfor %}
        </div>
        <br>
        <a href="{{ url_for('slideshow') }}"><button>View Slideshow</button></a>
        {% endif %}
    </div>
</body>
</html>
